/* first heading and paragraph */
h3,.pDiv{
    margin: 20px 85px;
}
.table{
    width:100%;
    /* margin: 20px 85px; */
    /* margin:0 auto; */
}
.firstP{
    /* display: flex;
    align-items: center; */
    padding: 20px;
    margin: 20px 85px;
}

/* four boxes */
.fourDiv{
    display:grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}

.fourChild{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    border-radius: 10px;
    border: 2px solid black;
    height: 200px;
    width: 300px;
    /* width:fit-content; */
    padding: 30px;
}
@media screen and (max-width:639px){
    .fourDiv{
    display:grid;
    grid-template-columns: auto auto;
    gap:2rem;
    }
    .fourChild{
        width:150px;
    }
}


#frdv1{
    background-color: rgb(190, 188, 29);
}
#frdv2{
    background-color: rgb(253, 113, 113);
}
#frdv3{
    background-color: rgb(47, 170, 143);
}
#frdv4{
    background-color: rgb(189, 84, 189);
}

/* table */


/* th,td{
    padding: 10px 0 10px 10px;
} */
/* #adminIndexTable{

} */