#priv {
    padding: 50px;
    
}

.as {
    margin:0 0 0 5%;
    border:2px solid black;
    display: flex;
    width:fit-content;
    flex-direction: column;
    gap: 20px;
    padding:2rem;
}

.as h1 {
    font-size: 2em;
    color: #007BFF;
}

.as h2,h4 {
    color: blue;
}

.as input,
textarea {
    width: 100%;
    padding: 5px;
    text-align: justify;
}

.as button {
    width: 100px;
    height: 30px;
}

textarea {
    line-height: 1.2;
    font-size: 16px;
}